<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mysassa.whitelabel">

    <uses-feature android:name="android.hardware.camera"/>


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
            android:name="com.mysassa.SimpleApplication">
        <!--
        <activity
                android:name="com.mysassa.ui.ActivityMain"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        -->
        <activity android:name="com.mysassa.ui.ActivitySignin"
            android:label="Sign In"/>
        <activity android:name="com.mysassa.ui.ActivityBlogPost"
            android:label="Post"/>
        <activity android:name="com.mysassa.ui.ActivityPostComment"
            android:label="Post Comment"/>
        <activity android:name="com.mysassa.ui.ActivityPostToBlog"
            android:label="Post to Blog"/>
        <activity android:name="com.mysassa.ui.ActivityMessages"
            android:label="Read Messages"/>
        <activity android:name="com.mysassa.ui.ActivityMessage"
            android:label="Message"/>

        <activity android:name="com.mysassa.ui.ActivityAddress"
            android:label="Enter Address"
            android:theme="@android:style/Theme.Dialog"/>

        
        <!-- GCM Additions -->

    </application>

</manifest>
